.bookmark-form-section {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.bookmark-form-card {
    margin: 10px;
    width: 60%;
}

.bookmark-form {
    width: 70%;
    margin: auto;
}

.bookmark-form-actions {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 680px) {
    .bookmark-form-card {
        width: 100%;
    }
}