.bookmarks-section {
    padding: 10px;
    width: 60%;
    margin: 50px auto;
}

.bookmark-list {
    margin-top: 10px;
}

@media screen and (max-width: 680px) {
    .bookmarks-section {
        width: 100%;
    }
}