.error-btns {
    margin-bottom: 20px;
}

.error-btns {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.errors {
    padding: 20px;
    margin-bottom: 20px;    
}

.server-errors {
    padding: 20px;
    margin-bottom: 20px;
    overflow: auto; 
}

.list-item {
    margin: 5px 0;
}