.home {
    position: absolute;
    background-image: linear-gradient(135deg, rgb(240, 42, 115) 0%, rgb(33, 138, 174) 69%, rgb(32, 167, 172) 89%);
    top: -70px;
    left: 0;
    height: calc(100% + 70px);
    width: 100%;
    padding-top: 150px;
}

.home-welcome {
    width: 50%;
    margin: auto;
    color: white;
}

.homepage-title {
    margin-bottom: 10px;
}

.v-btn__content {
    color: white;
}

.not-logged-in > .v-btn {
    margin-right: 5px;
}

.not-logged-in > .v-btn:hover {
    background-color: white;
}

.not-logged-in > .v-btn:hover > .v-btn__content {
    color: black;
}

.register-form-actions > .v-btn {
    margin-right: 5px;
}

.login-form-actions > .v-btn {
    margin-right: 5px;
}

.login-form-card {
    padding: 20px;
}

.register-form-card {
    padding: 20px;
}